<link rel="stylesheet" href="../stylesheets/home.css">
<footer class="footer py-3 mt-auto footer-custom"> <!--put bg-dark back in if want the gray color back instead of the purple--might look better?-->
    <div class="container">
        <span class="text-muted">&copy; MyFurEverPal 2021</span>
    </div>
</footer>