<% layout('layouts/boilerplate') %>
<%= include('functions') %>

<h1>IMG</h1>



<button class="img" onclick=<% changeColor %>>blue</button>
<button class="img" onclick=<% changeColor %>>red</button>





