<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Furever Pal</title>
</head>
<body>
    <h1>My Furever Pal</h1>
    <ul>
    <% for (let pet of pets) { %> 
        <li><%= pet.name %> </li>
    <% } %> 
    </ul>
</body>
</html>