<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Furever Pal</title>
</head>
<body>
    
    <h1>My Furever Pal</h1>
    <div>
        
       

        <% for(let i = 0 ; i < 10; i++){ %>
            <p><%= animals %></p>
        <% } %>

            
        
    
    </div>  
    <script>
        
    </script>

</body>
</html>