<% layout('layouts/boilerplate') %>

<h1>MATCHES</h1>
<h2>This will be a gallery of images the User swiped right</h2>
<h3>The User can then click on a pet and will be taken to 
    that pet's "show" page--where more info about the pet is listed-name, 
    shelter info, gender, videos, more photos, good w/ kids/other animals, 
    age, color, breed, etc.
</h3>
