.navbar-dark {
    background-color: #6200EA;
}

.footer-custom {
    background-color: #6200EA;
}

.fa-arrow-right {
    color: #12e023;
}


 /* text-align: center */
.fa-arrow-left {
    color: #f7021f;
}


/* .nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255,255,255,0.5);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
}

.nav-link:hover{
    color: rgba(255,255,255,0.5);
    border-bottom-color:rgba(255,255,255,0.5);
} */

/* .nav-link.active {
    color: white;
    border-bottom-color:white;
} */

/* .btn-secondary, .btn-secondary:hover{
    color: #333;
    text-shadow: none;
} */

